<section class="naranja-fondo animated fadeIn">
    <div class="container">
        <div class="row pt-5 h-100vh">
            <div class="col-md-12 col-lg-6 col-xl-6 pl-5 h-100vh z-index-1">
                <h2 class="fredoka size-41 pt-3 pb-4 white sombra">
                    ¡El mundo a cambiado, y la manera en que digitalizas tu <br> empresa también!
                </h2>
                <p class="fredoka white size-18 orange sombra-v2 pb-3">
                    CARGA TU STOCK EN MINUTOS SIN TENER QUE TOMARLE FOTOS A TODOS TUS PRODUCTOS
                </p>
                <p class="family-300 white  size-18">
                    Carga tu inventario manualmente a la web es cosa del pasado, hoy más que nunca debes ser acertivo 
                    en la forma de digitalizar tu empresa.
                </p>
                <p class="family-300 white  size-18">
                    Pronto te invitaremos a que seas parte de ésta nueva forma de digitalizarte, para que comercialices 
                    tus productos de manera fácil, rápida, al alcance de todos los consumidores y ahorrándote tiempo 
                    y grandes costos.
                </p>

                <div class="flex justify-content-center align-items-center column pt-5">
                    <button class="fredoka size-21 pointer">Queremos conocer tú opinión</button>
                    <p  class="fredoka white  size-20 pt-3">
                        !Lo que piensas es muy valioso para nosotros!
                    </p>
                </div>  
            </div>
            <div class="col-md-12 col-lg-6 col-xl-12  cajas pl-0 pr-0" style="height: 88vh;" id="imgenCaja">
                <div class="content-secondary-img-two">
                    <img class="cajas" src="../../../assets/images/muñequitos 2do piso.svg" height="80%" style="position: absolute; top: 5%;">
                </div>
            </div>
        </div>
    </div>
</section>


